/target
.env
.DS_Store

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*:Zone.Identifier

# Project update temp folder
.project-update-tmp/

# VS Code Stuff
.vorg.db

# Build / Cache
dist/
build/
.cache/
.tmp/
tmp/
temp/
coverage/

# Package artifacts
*.tar
*.tar.gz
*.zip

# User stuff
.project/local/

# User Test Artifacts
db-dump.sql
db-top10.md
headings-with-root.json
links.json
org-files-db.sqlite
org-files-db.sqlite-shm
org-files-db.sqlite-wal
